<head>
    <title><%= lang.meta.name %></title>

    <!-- SEO -->
    <meta name="description" content="<%= lang.meta.description %>" />
    <meta name="keywords" content="<%= lang.meta.keywords %>" />
    <meta name="author" content="Moquo, BenKato & contributors" />

    <!-- TODO: Add favicon -->

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css" />
    <!-- Optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
