<!-- Navbar -->
<nav>
    <div class="nav-wrapper orange darken-1">
        <a href="/" class="brand-logo"><%= lang.meta.name %></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="/features"><%= lang.partials.navbar.features %></a>
            </li>
            <li>
                <a href="/panel"><%= lang.partials.navbar.panel %></a>
            </li>
        </ul>
    </div>
</nav>
