<!-- Navbar -->
<nav>
    <div class="nav-wrapper orange darken-1">
        <a href="/" class="brand-logo"><%= lang.meta.name %></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/panel"><%= lang.partials.navbar.panel %></a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/panel"><%= lang.partials.navbar.panel %></a></li>
</ul>
