/* margin-tops */
.margin-top-05em {
    margin-top: 0.5em;
}
.margin-top-1em {
    margin-top: 1em;
}
.margin-top-2em {
    margin-top: 2em;
}
.margin-top-3em {
    margin-top: 3em;
}


/* margin-lefts */
.margin-left-05em {
    margin-left: 0.5em;
}
.margin-left-1em {
    margin-left: 1em;
}
.margin-left-1-5em {
    margin-left: 1.5em;
}
.margin-left-2em {
    margin-left: 2em;
}
.margin-left-2-5em {
    margin-left: 2.5em;
}


/* line-heights*/
.line-height-1-5vw {
    line-height: 1.5vw;
}
.line-height-1-9vw {
    line-height: 1.9vw;
}
.line-height-2vw {
    line-height: 2vw;
}
.line-height-2-5vw {
    line-height: 2.5vw;
}
.line-height-3vw {
    line-height: 3vw;
}

/* input focus color */
.input-field input[type=text]:focus + label {
    color: #ff9800 !important;
}
.input-field input[type=password]:focus + label {
    color: #ff9800 !important;
}
.input-field input[type=email]:focus + label {
    color: #ff9800 !important;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ff9800 !important;
    box-shadow: 0 1px 0 0 #ff9800 !important;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid #ff9800 !important;
    box-shadow: 0 1px 0 0 #ff9800 !important;
}
.input-field input[type=email]:focus {
    border-bottom: 1px solid #ff9800 !important;
    box-shadow: 0 1px 0 0 #ff9800 !important;
}
.input-field .prefix.active {
    color: #ff9800 !important;
}
