<!DOCTYPE html>
<html>
    <% include ../partials/head.ejs %>
    <body>
        <!-- TODO: Add content -->
        <% include ../partials/scripts.ejs %>
        <% include ../partials/footer.ejs %>
    </body>
</html>
