<!DOCTYPE html>
<html>
    <% include ../../partials/head.ejs %>
    <body>
        <!-- Centered logo -->
        <center>
            <img src="/static/img/logo.png" width="200" height="200" />
        </center>
        
        <% include ../../partials/scripts.ejs %>
        <% include ../../partials/footer.ejs %>
    </body>
</html>
