<!DOCTYPE html>
<html>
    <% include ../../partials/head.ejs %>
    <body>
        <!-- Centered logo -->
        <center>
            <img src="/static/img/logo.png" alt="<%= lang.meta.name %> <%= lang.sites.panel.login.logo %>" width="200" height="200" />
        </center>

        <% include ../../partials/scripts.ejs %>
        <% include ../../partials/footer.ejs %>
    </body>
</html>
