<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Registrierung - Mail-Forwarder</title>
        <!---CSS added--------------------------------------------->
        <link rel="stylesheet" href="public/css/materialize.css">
  </head>
  <body>

    <!---Loading Scripts--------------------------------->
    <script src="public/js/materialize.js"></script>
  </body>
</html>
