<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Home - Mail-Forwarder</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!---materialize.css added-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" media="screen,projection" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Mail-Forwarder ist dein Service, um deine E-Mails sicher umzuleiten!" />
  </head>
  <body class="black">
    <!--Body-->
    <span class="white-text">
      Meine Webseite
    </span>



    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js" /></script>
  </body>
</html>
