<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Home - Mail-Forwarder</title>
        <!---materialize.css added--------------------------------------------->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="">
  </head>
  <body>
        <div class="card-panel teal lighten-2">
          Mail-Forwarder ist euer Service, um Mails von einer E-Mail zu anderen zu versenden.
        </div>


    <!---Loading Scripts---------------------------------------------------------------------->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="public/js/materialize.js"></script>
  </body>
</html>
