<!DOCTYPE html>
<html>
    <% include ../partials/head.ejs %>
    <body>
        <% include ../partials/navbar.ejs %>

        <!-- Page content -->
        <div class="container">
            <!-- What are we container -->
            <div class="row">
                <div class="col s6 offset-s3">
                    <div class="card-panel orange margin-top-3em">
                        <span class="white-text "> <%= lang.sites.home.whatarewecontainer.text_1 %> </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6 offset-s3">
                    <div class="card-panel orange margin-top-05em">
                        <span class="white-text "> <%= lang.sites.home.whatarewecontainer.text_2 %> </span>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/scripts.ejs %>
        <% include ../partials/footer.ejs %>
    </body>
</html>
