<!-- side-nav -->
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <!--TODO: replace Text-->
            <a href="#!user"><img class="circle" src="../static/img/logo.png"></a>
            <a href="#!name"><span class="name">USERNAME</span></a>
            <a href="#!email"><span class="email">E-MAIL</span></a>
        </div>
    </li>
    <!--TODO: replace Text-->
    <li><a href="#!"><i class="material-icons">cloud</i></a> <%= lang.sites.panel.home.settings %></li>
    <li><a href="#!"></a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader"></a></li>
    <li><a class="waves-effect" href="#!"></a><%= lang.sites.panel.home.logout %></li>
 </ul>
 <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
